  <br>
<div class="panel panel-success">

<h1>Editing Profile</h1>
</div>
<br>
<br>

<div class="section-heading">
<h6><%= render 'form' %></h6>
</div>
<br>

<!-- <div class="section-heading"> -->
<!-- <h2><%= link_to 'Back', profiles_path %></h2> -->
<!-- </div> -->
