    <!-- NAVBAR -->
    <!-- NAVIGATION ELEMENTS -->
    <nav class="navbar navbar-custom">
      <div class="container">
        <!-- Navbar Header and Branding -->
          <p class="navbar-text navbar-left">Search Reviews</p>
        <!-- SEARCH FIELDS -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search by Cuisine" name="cuisine">
            <input type="text" class="form-control" placeholder="Search by Postal" name="postal">

            <!-- Single button -->
            <select class="selectpicker" name="price">
              <option value="nil">Price</option>
              <option value="10">$1-$10</option>
              <option value="20">$11-$20</option>
              <option value="21+">$21 + Up</option>
            </select>

            <select class="selectpicker" name="review[rating]">
              <option value="nil">Rating</option>
              <option value="1">&#x272D;</option>
              <option value="2">&#x272D;&#x272D;</option>
              <option value="3">&#x272D;&#x272D;&#x272D;</option>
              <option value="4">&#x272D;&#x272D;&#x272D;&#x272D;</option>
              <option value="5">&#x272D;&#x272D;&#x272D;&#x272D;&#x272D;</option>
            </select>

          </div> <!-- END CLASS FORM GROUP -->
          <button type="submit" class="btn btn-info nav">Find It</button>
        </form>
        <!-- END SEARCH FIELDS -->

      </div> <!-- END Container -->
    </nav> <!-- END NAVBAR -->
