
<h1>Welcome to Consumable</h1>
<% if !current_user.nil? %>
  <%= current_user.email %>
<% end %>
<hr/>
<form action="/users/sign_up" method= "get">
  <input type = "submit" value="Sign Up" />
</form>
<form action="/users/sign_in" method= "get">
  <input type = "submit" value="Log In" />
</form>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
