<br>
<br>
<br>
<div class="center">
<p id="notice"><%= notice %></p>
</div>
<br>

<!-- Carousel Starts -->
<div id="myCarousel" class="carousel slide img-responsive cetner-block" data-ride="carousel">
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slide 1 -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://i.reddituploads.com/3f4a5e045d214b02b7f9a939f9b46e13?fit=max&h=1536&w=1536&s=9a68669548b520889f2b1cc13f52fec7" class="img-responsive center-block" alt="Food1">
      <div class="carousel-caption">
        <h3>Food</h3>
        <p>Food Description</p>
      </div>
    </div>
    <!-- Wrapper for slide 2 -->
    <div class="item">
      <img src="https://i.redd.it/3cp5c5cfhd0y.jpg" class="img-responsive center-block" alt="Food2">
      <div class="carousel-caption">
       <h3>Food2</h3>
       <p>Food Description 2</p>
      </div>
    </div>

     <!-- Wrapper for slide 3 -->
    <div class="item">
     <iframe width="640" height="480" src="https://www.youtube.com/embed/-W002x-AKYw" frameborder="0" allowfullscreen alt="Food3"></iframe>
     <div class="carousel-caption">
       <h3>Food2</h3>
       <p>Food Description 2</p>
     </div>
    </div>
     <!-- Wrapper for slide 4 -->
    <div class="item">
     <img src="http://i.imgur.com/0BYLgRVr.jpg" class="img-responsive center-block" alt="Food4">
     <div class="carousel-caption">
       <h3>Food 3</h3>
       <p>Food 4</p>
     </div>
    </div>
  </div>

</div>
