<br>
<br>
<br>
<div class="center">
<p id="notice"><%= notice %></p>
</div>
<br>

<h4 class="intro"> Review your favorite dishes from your favorite restaurants.</h4>

<!-- Carousel Starts -->
<div id="myCarousel" class="carousel slide img-responsive cetner-block" data-ride="carousel">
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slide 1 -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://i.reddituploads.com/3f4a5e045d214b02b7f9a939f9b46e13?fit=max&h=1536&w=1536&s=9a68669548b520889f2b1cc13f52fec7" class="img-responsive center-block" alt="Food1">
      <div class="carousel-caption">
        <h3>BBQ Beef</h3>
        <p>It melts in your mouth!</p>
      </div>
    </div>
    <!-- Wrapper for slide 2 -->
    <div class="item">
      <img src="https://i.redd.it/3cp5c5cfhd0y.jpg" class="img-responsive center-block" alt="Food2">
      <div class="carousel-caption">
       <h3>Pollo Asado</h3>
       <p>So much food for so little $$$</p>
      </div>
    </div>

     <!-- Wrapper for slide 3 -->
    <div class="item">
     <img src="http://i.imgur.com/0BYLgRVr.jpg" class="img-responsive center-block" alt="Food4">
     <div class="carousel-caption">
       <h3>Fetuccini Alfredo</h3>
     </div>
    </div>
  </div>

</div>
