// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* --------------------- */
/* --------------------- */

// NAVIGATION BAR
.site-header-actions {
  top: 0;
  right: 0;
  padding-left: 18px;
  padding-top: 10px;
}
//End NAVIGATION BAR


// Carousel
#myCarousel{
  top:5%;
  margin:auto;
  max-height:380px;
  max-width: 600px;
}
.carousel-inner > .item > img{
  max-height:380px;

}

.item {
  max-height: 380px;
}
// End carousel

// Carousel
iframe {
position: relative;
margin:auto;
top:50%;
left:0%;
max-height: 380px;
}
// End carousel


.section-heading{
  text-align: center;
}

.center {
  text-align: center;
}
