// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#restaurant_map{
  width: 500px;
  height: 400px;
  float: right;
  margin-top: 10px;

}

#review_image {
  margin-top: 10px;
  width: 500px;
  height: 400px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
}

h2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

th {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding: 15px 32px;
}

td {
  text-align: center;
}

.show_link, .show_link:visited {
  color: white;
}

.restaurant_link, .restaurant_link:visited {
  color: white;
  text-decoration: underline;
}

.container {
  font-size: 25px;
}

.edit_link, .edit_link:visited, .back_link, .back_link:visited {
  color: white;
  text-decoration: underline;
  display: inline;
}

.panel {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

#font {
  font-size: 20px
}
