// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#restaurant_map{
  width: 500px;
  height: 400px;
}

h2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

th {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding: 15px 32px;

}
