// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#restaurant_map{
  width: 500px;
  height: 400px;
}

h2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

th {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding: 15px 32px;
}

.show_link, .show_link:visited {
  color: white;
}

.restaurant_link, .restaurant_link:visited {
  color: white;
  text-decoration: underline;
}

#review_image {
  float: left !important;
  margin-top: 35px;
  margin-bottom: 10%;
  margin-right: 2%;
  width: 350px;
}
#reviews_show {
  font-size: 25px;
  justify-content: center;
}
.edit_link, .edit_link:visited, .back_link, .back_link:visited {
  color: white;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline;
}
