// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-custom {
     background-color: white;
     border-color: #030033;
     font-family: 'Aref Ruqaa', serif;
}

.navbar-custom .form-group > input {
  color: 		#000000; /*Change active text color here*/

  font-family: 'Aref Ruqaa', serif;
  font-size: 12pt;
}

.form-control {
  float:left;
}

.second {
  float:left;
  height: 34px;
}

.third {
  float:left;
  height: 34px;
}

.btn-1 {
  text-align: center;
  width: 65px;
  height: 34px;
  float:left;
  border-radius: 9%;
  border-style: outset;
}
#nav-text {
  margin-top: 15px;
  font-family: 'Aref Ruqaa', serif;
  font-size: 12pt;
}
td {
  color: white;
  border-width: medium;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.show_link, .show_link:visited {
  color: white;
  text-decoration: underline;
}
.edit_link, .edit_link:visited {
  color: white;
  text-decoration: underline;
}
.destroy_link, .destroy_link:visited {
  color: white;
  text-decoration: underline;
}
.restaurant_link, .restaurant_link:visited {
  color: white;
  text-decoration: underline;
}
